<div class="container-fluid">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-10">
        <!---->
        <p>
            {{ title }}
          </p>
          <button class="btn btn-success" (click)="agregar()">Nuevo</button>
          <!-- <button class="btn btn-primary" (click)="nuevoData()">Nuevo Data Template</button> -->
        
          <div *ngIf="lista">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Codigo</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of lista">
                  <th scope="row">{{ item.catEve_Id}}</th>
                  <td>{{item.catEve_codigo}}</td>
                  <td>{{item.catEve_Nombre}}</td>
                  <td>{{item.catEve_Descripcion}}</td>
                  <td><button class="btn btn-primary" (click)="editar(item.catEve_Id)">Editar</button></td>
                  <td><button class="btn btn-danger" (click)="eliminar(item.catEve_Id)">Eliminar</button></td>
        
                </tr>
              </tbody>
            </table>
          </div>
        <!---->
      </div>
      <div class="col">
        
      </div>
    </div>
    <div class="row">
        <!--<a class="nav-link" routerLinkActive="active" routerLink="welcome">Menu Principal</a>-->
    </div>
  </div>