
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Tipo Evento</h5>
          <p class="card-text">Realiza el mantenimiento correspondiente para los diferentes tipos de eventos que existe.</p>
          <a class="nav-link" routerLinkActive="active" routerLink="tipoEvento">Go tipos de eventos</a>
        </div>
      </div>

    </div>
    <div class="col-md-auto">
      
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Categoria Evento</h5>
          <p class="card-text">Mantenimiento de las categorias asosicadas a los eventos que se registraran en el sistema en futuras ocaciones.</p>
          <a class="nav-link" routerLinkActive="active" routerLink="categoriaEvento">Go categorias</a>
        </div>
      </div>

    </div>
    <div class="col-md-auto">
      
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Modalidad Evento</h5>
          <p class="card-text">Desde esta opción se podra realizar el mantenimiento de los diferentes tipos de modalidad de eventos existentes.</p>
          <a class="nav-link" routerLinkActive="active" routerLink="modalidadEvento">Go modalidades</a>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Registro Evento</h5>
          <p class="card-text">Registro de eventos a realizarce para su posterior visualización en la pagina principal del sistema.</p>
          <a class="nav-link" routerLinkActive="active" routerLink="evento">Go eventos</a>
        </div>
      </div>

    </div>
    <div class="col-md-auto">
      
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Proximamente...</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="nav-link" routerLinkActive="active" >Go somewhere</a>
        </div>
      </div>

    </div>
    <div class="col-md-auto">
      
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Proximamente...</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="nav-link" routerLinkActive="active" >Go somewhere</a>
        </div>
      </div>

    </div>
  </div>
</div>